{% extends "layout.html" %}

{% block body %}

<div class="container">

  <form class="form-signin" role="form" action="{{ url_for('login') }}" method="post">
    {{form.hidden_tag()}}
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <h3 class="form-signin-heading">Please sign in</h3>
    <p>
        Username:<br>
        {{form.username(size=36)}}<br>
    </p>
    <p>
        Password:<br>
        {{form.password(size=36)}}<br>
    </p>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div> <!-- /container -->


{% endblock %}
