{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_page') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for page in pages %}
    <li><h2>{{ page.title }}</h2>{{ page.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No pages here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
